@import '~bootstrap/dist/css/bootstrap.min.css';

$enable-negative-margins: true;

.container-fluid {
    padding: 0;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

.row .col .col-2 {
    height: 100vh;
}